<style>
    .loginBlock{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        text-align: center;
        padding-top: 30px;
    }
    .btn-center{
        display: flex;
        justify-content: center;
    }
    .btn{
        width: 100px;
    }
</style>
{% extends 'main/base.html' %}

{% block title %}Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="loginBlock">
        <h1>Create an account</h1>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ signup_user|crispy }}
            <div class="btn-center"><button type="submit" class="btn btn-success">Sign Up</button></div>
        </form>
    </div>
{% endblock %}